html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.download-grid {
  width: 800px;
}

.video-container {
  width: 800px;
  height: 400px;
}

@media only screen and (max-width: 800px) {
  .download-grid {
    width: 100%;
  }
  
  .video-container {
    width: 100%;
    height: 100%;
  }
}



* {
  box-sizing: border-box;
}
